{% load mytags %}
<td><a href="/user/{{test.author}}">{{test.author|capfirst|slice:":6"}}</a></td>
<td>{{test.dev_engine}}</td>
<td>
    <a href="{{test|workload_url}}">{{test|prettyDevName}}</a>
    {% if test.error %} <span style="color: #f38ba8; cursor: pointer" title="Crash or illegal move">*</span> {% endif %}
    {% if test|test_is_fischer %} <span style="color: #a6e3a1; cursor: pointer" title="Fischer random chess">*</span> {% endif %}
</td>
<td class="textcenter"><a href="{{test|gitDiffLink}}">diff</a></td>
<td>
    {{test.dev_time_control}}
    {% if test|test_is_time_odds %} <span style="color: #f9e2af; cursor: pointer" title="Time odds">*</span> {% endif %}
    {% if test|test_is_smp_odds %} <span style="color: #fab387; cursor: pointer" title="Thread odds">*</span> {% endif %}
</td>
<td class='statblock statblock-{{test|testResultColour}}'><strong>{{test|shortStatBlock|linebreaksbr}}</strong></td>
